@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>     
        <div class="top-row px-2" style="text-align: right;">
            <AuthorizeView>
                <Authorized>
                    Logged in as @context.User.Identity?.Name. <a href="logout">
                        <span class="bi bi-door-closed-fill"
                              aria-hidden="true" style="vertical-align:middle"></span> Logout
                    </a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>

        
    </main>
</div>