@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="p-4 sm:ml-64">
            <div class="p-4  rounded-lg mt-14">
                @Body
            </div>
        </div>
        <AuthorizeView>
            <Authorized>
                <TaskAppModal/>
            </Authorized>
        </AuthorizeView>
    </main>
</div>