@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits LayoutComponentBase

<PageTitle>Home</PageTitle>

<h1 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-black">Willkommen auf der Startseite des Aufgabenmanagement-Tools!</h1>

<p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Sie können sich anmelden, wenn Sie bereits ein Konto haben, oder sich neu registrieren.</p>

<div class="top-row px-4" style="margin-top: 20px;">
    <AuthorizeView>
        <NotAuthorized>
            <a href="login">
                <span class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                      aria-hidden="true" style="vertical-align:middle">Login</span>
            </a>
            <a href="register">
                <span class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" aria-hidden="true"
                      style="vertical-align:middle">Registrieren</span>
            </a>
        </NotAuthorized>
    </AuthorizeView>
</div>


